@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --accent: #3b82f6;
}

[data-theme='dark'] {
  --background: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --accent: #60a5fa;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}